body {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
}

table {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
  border-spacing: 0;
}

td,th {
  padding: 2px 5px;
  line-height: 1.5;
  vertical-align: top;
}

a { text-decoration: none; }

table tr:nth-child(odd) {
  background-color: #bdc3c7;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

table tr:first-child {
  color: white;
  text-transform: uppercase;
  background-color: #34495e;
}

table tr:first-child th {
  padding: 5px;
}

table {
  border: 1px solid #bdc3c7;
}